<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8">
<head th:replace="/navbar :: head">

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <img src="../header.png">
    </div>
    <div class="row" th:replace="/navbar :: navBar" style="position: fixed"></div>
    <form th:object="${newCustomerDto}" th:action="@{/customer/save}" method="post"
          style="margin-left:30%;width: 40%;margin-top: 3%">
        <table class="table table-striped" border="1">
            <tr>
                <th colspan="2" style="color: darkmagenta;font-size: 40px;text-align: center">
                    THÊM MỚI KHÁCH HÀNG
                </th>
            </tr>
            <tr>
                <td>
                    <input class="form-control" placeholder="Tên khách hàng:" readonly>
                </td>
                <td><input class="form-control" name="name"></td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" placeholder="Giới tính:" readonly>
                </td>
                <td>
                    <input type="radio" value="true" name="gender" checked>Nam<span class='bi bi-gender-male'
                                                                                    style="color: darkmagenta">&ensp; &ensp; &ensp; </span>
                    <input type="radio" value="false" name="gender">Nữ<span class='bi bi-gender-female'
                                                                            style="color: darkmagenta"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" placeholder="Ngày sinh:" readonly>
                </td>
                <td><input type="date" name="dateOfBirth"></td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" placeholder="Số CMND:" readonly>
                </td>
                <td><input class="form-control" name="idCard"></td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" placeholder="Số điện thoại:" readonly>
                </td>
                <td><input class="form-control" name="phoneNumber"></td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" placeholder="Email:" readonly>
                </td>
                <td><input class="form-control" name="email"></td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" placeholder="Địa chỉ:" readonly>
                </td>
                <td><input class="form-control" name="address"></td>
            </tr>
            <tr>
                <td class="img-fluid">
                    <input class="form-control " placeholder="Loại khách hàng:" readonly>
                </td>
                <td>
                    <select th:field="*{customerType}">
                        <option class="form-control" th:each="customerType : ${customerTypeList}"
                                th:value="${customerType.id}"
                                th:text="${customerType.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="btn btn-primary" type="submit" value="Create">Create</button>
                </td>
            </tr>
        </table>
    </form>
    <div class="row">
        <img src="../footter0.jpg" style="width: 100%;height: auto"/>
    </div>
</div>
</body>
</html>