<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8">
<head th:replace="/home :: head">

</head>
<body>
<div th:replace="~{/home::header}" class="sticky-top"></div>
<div class="container-fluid">
    <div class="row">
        <h1 style="color: crimson;text-align: center;font-size: 40px;margin-top: 5px">QUẢN LÝ KHÁCH HÀNG</h1>
    </div>
    <div class="row" style="margin-top: 70px">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form class="d-flex align-items-center m-0 " th:action="@{/customer/}">
                <input class="form-control me-2" type="search" placeholder="Input Customer :" aria-label="Search"
                       name="search">
                <button class="btn btn-outline-success chu_menu" type="submit" style="color: black">Search</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row" th:if="${message}">
        <h4 th:text="${message}" style="color: green"></h4>
    </div>
    <br>

    <div>
        <table class="table table-striped" style="margin-top: 50px">
            <tr>
                <th>STT</th>
                <th>Tên khách hàng</th>
                <th>Ngày sinh</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Cập nhật</th>
                <th>Xóa</th>
            </tr>
            <tr th:each="customer,status : ${customerList}">
                <td th:text="${customerList.number * 3 + status.count}"></td>
                <td style="color: #0c63e4" th:text="${customer.name}"></td>
                <td style="color: brown" th:text="${customer.dateOfBirth}"></td>
                <td th:text="${customer.phoneNumber}"></td>
                <td th:text="${customer.address}"></td>
                <td>
                    <a th:href="@{/customer/update/__${customer.id}__}">
                        <button class="btn btn-secondary btn-outline-warning" style="color: white"><span
                                class="bi bi-pencil-square"></span>
                        </button>
                    </a>
                </td>
                <td>
                    <button th:attr="onclick=|deleteCustomer('${customer.id}', '${customer.name}')|"
                            class="btn btn-danger btn-outline-secondary" data-bs-toggle="modal"
                            data-bs-target="#deleteCustomer">
                        <span style="color: white" class='bi bi-trash'></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/customer'(page=${0},search=${search})}"
                       th:if="${customerList.hasPrevious()}"><<
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/customer'(page=${customerList.number - 1},search=${search})}"
                       th:if="${customerList.hasPrevious()}"><
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/customer'(page=${customerList.number - 1},search=${search})}"
                       th:if="${customerList.hasPrevious()}" th:text="${customerList.number }">

                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/customer'(page=${customerList.number },search=${search})}"
                       th:text="${customerList.number+1}">
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/customer'(page=${customerList.number + 1},search=${search})}"
                       th:if="${customerList.hasNext()}" th:text="${customerList.number + 2}">
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/customer'(page=${customerList.number + 1}, search=${search})}"
                       th:if="${customerList.hasNext()}">>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/customer'(page=${customerList.totalPages - 1},search=${search})}"
                       th:if="${customerList.hasPrevious()}">>>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <footer th:replace="~{/home::footer}"></footer>
</div>

<!-- Delete modal -->
<div class="modal fade" id="deleteCustomer" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Bạn có chắc chắn muốn xóa khách hàng?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form th:action="@{/customer/delete/}">
                <div class="modal-body">
                    <span class="h6">Khách hàng:</span>
                    <strong id="nameDelete" class="text-danger ps-2"></strong>
                    <input type="hidden" name="id" id="idDelete" readonly/>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger" value="delete">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<div class="row" th:replace="~{/home::phone}"></div>
<div class="row" th:replace="~{/home::gotop}"></div>

<script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossOrigin="anonymous">
</script>

<script>
    function deleteCustomer(id, name) {
        $("#idDelete").val(id);
        document.getElementById("nameDelete").innerText = name;
    }
</script>
</html>


