<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8">
<head th:replace="~{/home::head}">

</head>
<body>
<div th:replace="~{/home::header}"></div>
<form th:object="${customerDto}" th:action="@{/customer/save}" method="post"
      style="margin-left:30%;width: 40%;margin-top: 3%">
    <table class="table table-striped" border="1">
        <tr>
            <th colspan="2" style="color: darkmagenta;font-size: 40px;text-align: center">
                Cập nhật khách hàng
            </th>
        </tr>
        <tr>
            <td>
                <input class="form-control" placeholder="Tên khách hàng:" readonly>
            </td>
            <td><input class="form-control" type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>
                <input class="form-control" placeholder="Giới tính:" readonly>
            </td>
            <td>
                <input type="radio" value="true" name="gender" checked>Name
                <input type="radio" value="false" name="gender">Nữ
            </td>
        </tr>
        <tr>
            <td>
                <input class="form-control" placeholder="Ngày sinh:" readonly>
            </td>
            <td><input class="form-control" type="date" th:field="*{dateOfBirth}"></td>
        </tr>
        <tr>
            <td>
                <input class="form-control" placeholder="Số CMND:" readonly>
            </td>
            <td><input class="form-control" type="text" th:field="*{idCard}"></td>
        </tr>
        <tr>
            <td>
                <input class="form-control" placeholder="Số điện thoại:" readonly>
            </td>
            <td><input class="form-control" type="text" th:field="*{phoneNumber}"></td>
        </tr>
        <tr>
            <td>
                <input class="form-control" placeholder="Email:" readonly>
            </td>
            <td><input class="form-control" type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <td>
                <input class="form-control" placeholder="Địa chỉ:" readonly>
            </td>
            <td><input class="form-control" type="text" th:field="*{address}"></td>
        </tr>
        <tr>
            <td>
                <input class="form-control" placeholder="Loại khách hàng:" readonly>
            </td>
            <td>
                <select th:field="*{customerType}">
                    <option class="form-control" th:each="customerType : ${customerTypeList}"
                            th:value="${customerType.id}"
                            th:text="${customerType.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button class="btn btn-primary" type="submit">Cập nhật</button>
            </td>
        </tr>
    </table>
</form>

</div>
<footer th:replace="~{/home::footer}"></footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</html>