<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8">
<head th:replace="/home :: head">

</head>
<body>
<div th:replace="~{/home::header}" class="sticky-top"></div>
<div class="container-fluid">

    <div class="row">
        <h1 style="color: crimson;text-align: center;font-size: 40px;margin-top: 10px;font-family: monospace">
            QUẢN LÝ HỢP ĐỒNG</h1>
    </div>

    <div class="row" th:if="${message}">
        <h4 th:text="${message}" style="color: red"></h4>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form class="d-flex align-items-center m-0 " th:action="@{/contract/}">
                <input class="form-control me-2" type="search" placeholder="Input Customer :" aria-label="Search"
                       name="search">
                <button class="btn btn-outline-success chu_menu" type="submit" style="color: black">Search</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>

    <div>
        <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#addContractModal" style="background: green">
            <span style="color: white" class='bi bi-shop'>+ Thêm Mới Hợp Đồng</span>
        </button>
        <table class="table table-striped" style="margin-top: 10px" border="1">
            <tr>
                <th>STT</th>
                <th>Tên dịch vụ</th>
                <th>Tên khách hàng</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Tiền cọc</th>
                <th>Tổng tiền</th>
                <th>Các dịch vụ đi kèm</th>
                <th></th>
            </tr>
            <tr th:each="contract,status : ${contractList}">
                <td th:text="${contractList.number * 3 + status.count}"></td>
                <td style="color: #0c63e4" th:text="${contract.facility.name}"></td>
                <td style="color: brown" th:text="${contract.customer.name}"></td>
                <td th:text="${contract.startDate}"></td>
                <td th:text="${contract.endDate}"></td>
                <td th:text="${contract.deposit}"></td>
                <td th:text="${contract.totalMoney}"></td>
                <td colspan="2">
                    <button th:attr="onclick=|attachFacility('${contract.id}')|"
                            class="btn btn-success btn-outline-info" data-bs-toggle="modal"
                            data-bs-target="#addAttachFacility" style="color: white">
                        +
                    </button>
                    <button th:attr="onclick=|attachFacility('${contract.id}')|"
                            class="btn btn-primary btn-outline-secondary" data-bs-toggle="modal"
                            data-bs-target="#attachFacility" style="color: white">
                        danh sách Dịch vụ đi kèm
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <div class="row float-end">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/contract'(page=${0},search=${search})}"
                       th:if="${contractList.hasPrevious()}"><<
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/contract'(page=${contractList.number - 1},search=${search})}"
                       th:if="${contractList.hasPrevious()}"><
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/contract'(page=${contractList.number - 1},search=${search})}"
                       th:if="${contractList.hasPrevious()}" th:text="${contractList.number }">

                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="color: white;background: green;"
                       th:href="@{'/contract'(page=${contractList.number },search=${search})}"
                       th:text="${contractList.number + 1}">
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/contract'(page=${contractList.number + 1},search=${search})}"
                       th:if="${contractList.hasNext()}" th:text="${contractList.number + 2}">
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/contract'(page=${contractList.number + 1}, search=${search})}"
                       th:if="${contractList.hasNext()}">>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/contract'(page=${contractList.totalPages - 1},search=${search})}"
                       th:if="${contractList.hasPrevious()}">>>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <footer th:replace="~{/home::footer}"></footer>
</div>

<!-- thêm mới hợp đồng modal -->
<div class="modal fade" id="addContractModal" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center">
                <h4 class="modal-title">Thêm mới hợp đồng</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>

                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>


<!-- them mới dich vu di kem modal -->
<div class="modal fade" id="addAttachFacility" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center">
                <h4 class="modal-title">Thêm dịch vụ đi kèm:</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <th>Loại dịch vụ</th>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>

<!-- danh sach di kem modal -->
<div class="modal fade" id="attachFacility" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center">
                <h4 class="modal-title">Danh sách dịch vụ đi kèm:</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <th>Tên dịch vụ</th>
                        <th>Phí thuê</th>
                        <th>Tình trạng</th>
                        <th>Đơn vị</th>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>

</div>
<div class="row" th:replace="~{/home::phone}"></div>
<div class="row" th:replace="~{/home::gotop}"></div>
</body>
</html>
