<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8">
<head th:replace="/home :: head">

</head>
<body>
<div th:replace="~{/home::header}" class="sticky-top"></div>
<form th:object="${employeeDto}" th:action="@{/employee/save}" method="post"
      style="margin-left:30%;width: 40%;margin-top: 3%">
    <table class="table table-striped" border="1">
        <tr>
            <th colspan="2" style="color: darkmagenta;font-size: 40px;text-align: center;font-family: Papyrus,fantasy">
                THÊM MỚI NHÂN VIÊN
            </th>
        </tr>
        <tr>
            <td>Tên nhân viên:</td>
            <td><input class="form-control" type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td colspan="2"><div style="color: crimson" th:errors="*{name}"
                                 th:if="${#fields.hasErrors('name')}"></div>
            </td>
        </tr>
        <tr>
            <td>Ngày sinh:</td>
            <td><input class="form-control"  type="date" th:field="*{dateOfBirth}"></td>
        </tr>
        <tr>
            <td>Số CMND:</td>
            <td><input class="form-control" th:field="*{idCard}"></td>
        </tr>
        <tr>
            <td>Số điện thoại:</td>
            <td><input class="form-control" type="text" th:field="*{phoneNumber}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input class="form-control" th:field="*{email}"></td>
        </tr>
        <tr>
            <td>Địa chỉ:</td>
            <td><input class="form-control" th:field="*{address}"></td>
        </tr>
        <tr>
            <td>Lương:</td>
            <td><input class="form-control" th:field="*{salary}"></td>
        </tr>
        <tr>
            <td>Bằng cấp:</td>
            <td>
                <select class="form-select" th:field="*{educationDegree}">
                    <option th:each="educationDegree : ${educationDegreeList}"
                            th:value="${educationDegree.id}"
                            th:text="${educationDegree.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Chức vụ:</td>
            <td>
                <select class="form-select" th:field="*{position}">
                    <option th:each="position : ${positionList}" th:value="${position.id}"
                            th:text="${position.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Bộ phận:</td>
            <td>
                <select class="form-select" th:field="*{divisions}">
                    <option th:each="divisions : ${divisionList}" th:value="${divisions.id}"
                            th:text="${divisions.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button class="btn btn-primary" type="submit" value="Create">Thêm mới</button>
            </td>
        </tr>
    </table>
</form>
<footer th:replace="~{/home::footer}"></footer>
<div class="row" th:replace="~{/home::phone}"></div>
<div class="row" th:replace="~{/home::gotop}"></div>
</body>
</html>