<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8">
<head th:replace="/home :: head">

</head>
<body>
<div th:replace="~{/home::header}" class="sticky-top"></div>
<div class="container-fluid">
    <div class="row">
        <h1 style="color: crimson;text-align: center;font-size: 40px;margin-top: 20px;font-family: Papyrus,fantasy">
            <strong>QUẢN LÝ NHÂN VIÊN</strong></h1>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form class="d-flex align-items-center m-0 " th:action="@{/employee/}">
                <input class="form-control me-2 " type="search" placeholder="Input Employee :" aria-label="Search"
                       name="search">
                <button class="btn btn-outline-success chu_menu" type="submit" style="color: black">Search</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>

    <div class="row" th:if="${message}">
        <h4 th:text="${message}" style="color: red"></h4>
    </div>

    <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#addEmployeeModal"
            style="background: green">
        <span style="color: white;background:green;" class='bi bi-shop'>+ Thêm Mới Nhân Viên</span>
    </button>

    <div>
        <table class="table table-striped" style="margin-top: 10px">
            <tr>
                <th>STT</th>
                <th>Tên nhân viên</th>
                <th>Ngày sinh</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Bộ phận</th>
                <th>Cập nhật</th>
                <th>Xóa</th>
            </tr>
            <tr th:each="employee,status : ${employeeList}">
                <td th:text="${employeeList.number * 5 + status.count}"></td>
                <td style="color: #0c63e4" th:text="${employee.name}"></td>
                <td style="color: brown" th:text="${employee.dateOfBirth}"></td>
                <td th:text="${employee.phoneNumber}"></td>
                <td th:text="${employee.address}"></td>
                <td th:text="${employee.divisions.name}"></td>
                <td>
                    <a th:href="@{/employee/update/__${employee.id}__}">
                        <button
                                class="btn btn-secondary btn-outline-warning">
                            <span style="color: white" class="bi bi-pencil-square"></span>
                        </button>
                    </a>
                </td>
                <td>
                    <button th:attr="onclick=|deleteEmployee('${employee.id}', '${employee.name}')|"
                            class="btn btn-danger btn-outline-secondary" data-bs-toggle="modal"
                            data-bs-target="#deleteEmployee">
                        <span style="color: white" class='bi bi-trash'></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <div class="row float-end">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/employee'(page=${0},search=${search})}"
                       th:if="${employeeList.hasPrevious()}"><<
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/employee'(page=${employeeList.number - 1},search=${search})}"
                       th:if="${employeeList.hasPrevious()}"><
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/employee'(page=${employeeList.number - 1},search=${search})}"
                       th:if="${employeeList.hasPrevious()}" th:text="${employeeList.number }">

                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link " style="color: white;background: green"
                       th:href="@{'/employee'(page=${employeeList.number },search=${search})}"
                       th:text="${employeeList.number+1}">
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/employee'(page=${employeeList.number + 1},search=${search})}"
                       th:if="${employeeList.hasNext()}" th:text="${employeeList.number + 2}">
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/employee'(page=${employeeList.number + 1}, search=${search})}"
                       th:if="${employeeList.hasNext()}">>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/employee'(page=${employeeList.totalPages - 1},search=${search})}"
                       th:if="${employeeList.hasNext()}">>>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>

<!-- Modal create-->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="border border-2 border-success p-3 " th:action="@{/employee/create}" method="POST"
                  th:object="${employeeDto}">
                <div class="modal-title">
                    <h3 style="text-align: center;color: darkmagenta;font-family: Papyrus,fantasy">THÊM MỚI NHÂN
                        VIÊN</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-striped" border="1">
                        <tr>
                            <td>Tên nhân viên:</td>
                            <td><input class="form-control" type="text" th:field="*{name}"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><div style="color: crimson" th:errors="*{name}"
                                                 th:if="${#fields.hasErrors('name')}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Ngày sinh:</td>
                            <td><input class="form-control" type="date" th:field="*{dateOfBirth}"></td>
                        </tr>

                        <tr>
                            <td>Số CMND:</td>
                            <td><input class="form-control" th:field="*{idCard}"></td>
                        </tr>
                        <tr>
                            <td>Số điện thoại:</td>
                            <td><input class="form-control" type="text" th:field="*{phoneNumber}"></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><input class="form-control" th:field="*{email}"></td>
                        </tr>
                        <tr>
                            <td>Địa chỉ:</td>
                            <td><input class="form-control" th:field="*{address}"></td>
                        </tr>
                        <tr>
                            <td>Lương:</td>
                            <td><input class="form-control" th:field="*{salary}"></td>
                        </tr>
                        <tr>
                            <td>Bằng cấp:</td>
                            <td>
                                <select class="form-select" th:field="*{educationDegree}">
                                    <option th:each="educationDegree : ${educationDegreeList}"
                                            th:value="${educationDegree.id}"
                                            th:text="${educationDegree.name}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Chức vụ:</td>
                            <td>
                                <select class="form-select" th:field="*{position}">
                                    <option th:each="position : ${positionList}" th:value="${position.id}"
                                            th:text="${position.name}"></option>
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <td>Bộ phận:</td>
                            <td>
                                <select class="form-select" th:field="*{divisions}">
                                    <option th:each="divisions : ${divisionList}" th:value="${divisions.id}"
                                            th:text="${divisions.name}"></option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Tạo mới</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal update-->
<div class="modal fade" id="modalUpdateShow" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form class="border border-2 border-success p-3 " th:action="@{/employee/update}" method="POST"
                      th:object="${employeeDto}">
                    <div class="modal-title">
                        <h3 style="text-align: center;color: darkmagenta;font-family: Papyrus,fantasy">CẬP NHẬT NHÂN
                            VIÊN</h3>
                    </div>
                    <div class="modal-body">
                        <input hidden type="text" th:field="*{id}">
                        <table class="table table-striped" border="1">
                            <tr>
                                <td>Tên nhân viên:</td>
                                <td><input class="form-control" type="text" th:field="*{name}"></td>
                            </tr>
                            <tr>
                                <td>Ngày sinh:</td>
                                <td><input class="form-control" type="date" th:field="*{dateOfBirth}"></td>
                            </tr>
                            <tr>
                                <td>Số CMND:</td>
                                <td><input class="form-control" th:field="*{idCard}"></td>
                            </tr>
                            <tr>
                                <td>Số điện thoại:</td>
                                <td><input class="form-control" type="text" th:field="*{phoneNumber}"></td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td><input class="form-control" th:field="*{email}"></td>
                            </tr>
                            <tr>
                                <td>Địa chỉ:</td>
                                <td><input class="form-control" th:field="*{address}"></td>
                            </tr>
                            <tr>
                                <td>Lương:</td>
                                <td><input class="form-control" th:field="*{salary}"></td>
                            </tr>
                            <tr>
                                <td>Bằng cấp:</td>
                                <td>
                                    <select class="form-select" th:field="*{educationDegree}">
                                        <option th:each="educationDegree : ${educationDegreeList}"
                                                th:value="${educationDegree.id}"
                                                th:text="${educationDegree.name}">

                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Chức vụ:</td>
                                <td>
                                    <select class="form-select" th:field="*{position}">
                                        <option th:each="position : ${positionList}" th:value="${position.id}"
                                                th:text="${position.name}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Bộ phận:</td>
                                <td>
                                    <select class="form-select" th:field="*{divisions}">
                                        <option th:each="divisions : ${divisionList}" th:value="${divisions.id}"
                                                th:text="${divisions.name}"></option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Cập nhật</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Delete employee -->
<div class="modal fade" id="deleteEmployee" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true" style="height: 100%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="exampleModalLabel1"
                    style="font-family: Papyrus,fantasy;text-align: center;color: darkmagenta">
                    <strong>Bạn có chắc chắn muốn xóa nhân viên?</strong></h4>
            </div>
            <form th:action="@{/employee/delete/}" method="post">
                <div class="modal-body">
                    <span>NHÂN VIÊN:</span>
                    <strong id="nameDelete" class="text-danger ps-2"></strong>
                    <input type="hidden" name="id" id="idDelete" readonly/>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger" value="delete">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<input hidden id="action" th:value="${action}"\>

<footer th:replace="~{/home::footer}"></footer>
<div class="row" th:replace="~{/home::phone}"></div>
<div class="row" th:replace="~{/home::gotop}"></div>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
    $(document).ready(function () {
        let target = $("#action").val();
        if (target === "openModalUpdate") {
            $("#modalUpdateShow").modal('show');
        }
    })

    function deleteEmployee(id, name) {
        $("#idDelete").val(id);
        document.getElementById("nameDelete").innerText = name;
    }
</script>
</html>
