<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8">
<head th:replace="/navbar :: head">

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <img src="../header.png">
    </div>

    <div class="row" th:replace="/navbar :: navBar" style="position: fixed"></div>

    <div class="row">
        <h1 style="color: crimson;text-align: center;font-size: 40px;margin-top: 5px">Employee Management</h1>
    </div>

    <div class="row" style="margin-top: 50px">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form class="d-flex align-items-center m-0 " th:action="@{/employee/}">
                <input class="form-control me-2 " type="search" placeholder="Input Employee :" aria-label="Search"
                       name="search">
                <button class="btn btn-outline-success chu_menu" type="submit" style="color: black">Search</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>

    <div class="row" th:if="${message}">
        <h4 th:text="${message}" style="color: red"></h4>
    </div>

    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
        <span style="color: white" class='bi bi-shop'>+ Add Employee Modal</span>
    </button>

    <div>
        <table class="table table-striped" style="margin-top: 50px">
            <tr>
                <th>STT</th>
                <th>Tên nhân viên</th>
                <th>Ngày sinh</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Cập nhật</th>
                <th>Xóa</th>
            </tr>
            <tr th:each="employee,status : ${employeeList}">
                <td th:text="${employeeList.number * 3 + status.count}"></td>
                <td style="color: #0c63e4" th:text="${employee.name}"></td>
                <td style="color: brown" th:text="${employee.dateOfBirth}"></td>
                <td th:text="${employee.phoneNumber}"></td>
                <td th:text="${employee.address}"></td>
                <td>
                    <a th:href="@{/employee/update/__${employee.id}__}">
                        <button th:attr="onclick=|updateEmployee()|"
                                class="btn btn-warning btn-outline-secondary">
                            <span style="color: white" class="bi bi-pencil-square"></span>
                        </button>
                    </a>
                </td>
                <td>
                    <button th:attr="onclick=|deleteEmployee('${employee.id}', '${employee.name}')|"
                            class="btn btn-danger btn-outline-secondary" data-bs-toggle="modal"
                            data-bs-target="#deleteEmployee">
                        <span style="color: white" class='bi bi-trash'></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <div style="text-align: center">
        <a th:href="@{'/employee'(page=${employeeList.number - 1}, search=${search})}"
           th:if="${employeeList.hasPrevious()}">Previous</a>
        <span th:text="${employeeList.number + 1}"></span> / <span th:text="${employeeList.totalPages}"></span>
        <a th:href="@{'/employee'(page=${employeeList.number + 1}, search=${search})}"
           th:if="${employeeList.hasNext()}">Next</a>
    </div>
    <div class="row">
        <img src="../footter0.jpg" style="width: 100%;height: auto"/>
    </div>
</div>

<!-- Modal create-->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="border border-2 border-success p-3 " th:action="@{/employee/save}" method="POST"
                  th:object="${createEmployeeDto}">
                <div class="modal-title">
                    <h3>THÊM MỚI NHÂN VIÊN</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input hidden type="text" th:field="*{id}">
                    <table class="table table-striped" border="1">
                        <tr>
                            <td>Tên nhân viên:</td>
                            <td><input type="text" th:field="*{name}"></td>
                        </tr>
                        <tr>
                            <td>Ngày sinh:</td>
                            <td><input type="date" th:field="*{dateOfBirth}"></td>
                        </tr>
                        <tr>
                            <td>Số CMND:</td>
                            <td><input th:field="*{idCard}"></td>
                        </tr>
                        <tr>
                            <td>Số điện thoại:</td>
                            <td><input type="text" th:field="*{phoneNumber}"></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><input th:field="*{email}"></td>
                        </tr>
                        <tr>
                            <td>Địa chỉ:</td>
                            <td><input th:field="*{address}"></td>
                        </tr>
                        <tr>
                            <td>Lương:</td>
                            <td><input th:field="*{salary}"></td>
                        </tr>
                        <tr>
                            <td>Bằng cấp:</td>
                            <td>
                                <select th:field="*{educationDegree}">
                                    <option th:each="educationDegree : ${educationDegreeList}"
                                            th:value="${educationDegree.id}"
                                            th:text="${educationDegree.name}"></option>
                                </select>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Chức vụ:</td>
                            <td>
                                <select th:field="*{position}">
                                    <option th:each="position : ${positionList}" th:value="${position.id}"
                                            th:text="${position.name}"></option>
                                </select>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Bộ phận:</td>
                            <td>
                                <select th:field="*{division}">
                                    <option th:each="division : ${divisionList}" th:value="${division.id}"
                                            th:text="${division.name}"></option>
                                </select>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Tạo mới</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- update -->
<button hidden id="openModalUpdate" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateEmployee">
    Launch demo modal
</button>
<!-- Modal -->
<div class="modal fade" id="updateEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">CẬP NHẬT THÔNG TIN:</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="border border-2 border-success p-3 " th:action="@{/employee/update}" method="POST"
                  th:object="${updateEmployeeDto}">

                <div class="modal-body">
                    <input hidden type="number" th:field="*{id}">
                    <table class="table table-striped" border="1">
                        <tr>
                            <td>Tên nhân viên:</td>
                            <td><input type="text" th:field="*{name}"></td>
                        </tr>
                        <tr>
                            <td>Ngày sinh:</td>
                            <td><input type="date" th:field="*{dateOfBirth}"></td>
                        </tr>
                        <tr>
                            <td>Số CMND:</td>
                            <td><input th:field="*{idCard}"></td>
                        </tr>
                        <tr>
                            <td>Số điện thoại:</td>
                            <td><input type="text" th:field="*{phoneNumber}"></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><input th:field="*{email}"></td>
                        </tr>
                        <tr>
                            <td>Địa chỉ:</td>
                            <td><input th:field="*{address}"></td>
                        </tr>
                        <tr>
                            <td>Lương:</td>
                            <td><input th:field="*{salary}"></td>
                        </tr>
                        <tr>
                            <td>Bằng cấp:</td>
                            <td>
                                <select th:field="*{educationDegree}">
                                    <option th:each="educationDegree : ${educationDegreeList}"
                                            th:value="${educationDegree.id}"
                                            th:text="${educationDegree.name}"></option>
                                </select>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Chức vụ:</td>
                            <td>
                                <select th:field="*{position}">
                                    <option th:each="position : ${positionList}" th:value="${position.id}"
                                            th:text="${position.name}"></option>
                                </select>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Bộ phận:</td>
                            <td>
                                <select th:field="*{division}">
                                    <option th:each="division : ${divisionList}" th:value="${division.id}"
                                            th:text="${division.name}"></option>
                                </select>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Cập nhật</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>
        <img src="../footter0.jpg" style="width: 100%;height: auto"/>
    </div>

</div>


<!-- Delete employee -->
<div class="modal fade" id="deleteEmployee" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true" style="height: 100%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Bạn có chắc chắn muốn xóa nhân viên?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/employee/delete/}" method="post">
                <div class="modal-body">
                    <span class="h6">Khách hàng:</span>
                    <strong id="nameDelete" class="text-danger ps-2"></strong>
                    <input type="hidden" name="id" id="idDelete" readonly/>
                </div>

                <div class="modal-footer">
                    <button  th:href="@{/employee}" t type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger" value="delete">Xóa</button>
                </div>
            </form>

        </div>
    </div>
</div>

<input hidden id="action" th:value="${action}">


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        let a = $("#action").val();
        if (a === "openModalUpdate") {
            $("#openModalUpdate").click();
        }
    })

    // function updateEmployee(id, name, dateOfBirth, idCard, salary, phoneNumber, email, address, position, educationDegree, division) {
    //     $("#id").val(id);
    //     $("#name").val(name);
    //     $("#dateOfBirth").val(dateOfBirth);
    //     $("#idCard").val(idCard);
    //     document.getElementById("salary").value = "₫ " + salary;
    //     $("#phoneNumber").val(phoneNumber);
    //     $("#email").val(email );
    //     $("address").val(address);
    //     $("position").val(position);
    //     $("educationDegree").val(educationDegree);
    //     $("division").val(division);
    // }

    function deleteEmployee(id, name) {
        $("#idDelete").val(id);
        document.getElementById("nameDelete").innerText = name;
    }
</script>

</html>
