<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<body>
<div class="row" th:replace="/layout :: navBar"></div>
<br><br>

<h1 style="color: #0c63e4;text-align: center;font-size: 40px"> Tạo mới User</h1>
<form th:object="${musicDto}" th:action="@{/music/create}" method="post"
      style="margin-left:30%;width: 40%;margin-top: 5%">
    <table class="table table-striped">
        <tr>
            <td>Tên bài hát:</td>
            <td><input type="text" th:field="*{musicName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><p style="color: crimson" th:errors="*{musicName}"
                   th:if="${#fields.hasErrors('musicName')}"></p></td>
        </tr>
        <tr>
            <td>Tên ca sỹ:</td>
            <td><input type="text" th:field="*{singerName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><p style="color: crimson" th:errors="*{singerName}"
                   th:if="${#fields.hasErrors('singerName')}"></p></td>
        </tr>
        <tr>
            <td>Thể loại:</td>
            <td><input type="text" th:field="*{kindOfMusic}"></td>
        </tr>
        <tr>
            <td></td>
            <td><p style="color: crimson" th:errors="*{kindOfMusic}"
                   th:if="${#fields.hasErrors('kindOfMusic')}"></p></td>
        </tr>
    </table>
    <button type="submit">Save</button>
</form>
</body>
</html>