<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8">
<head th:replace="/home :: head">

</head>
<body>
<div th:replace="~{/home::header}" class="sticky-top"></div>
<div class="container-fluid">
    <div class="row">
        <h1 style="color: crimson;text-align: center;font-size: 40px;margin-top: 20px;
        font-family: Papyrus,fantasy">
            <strong>QUẢN LÝ DỊCH VỤ</strong></h1>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form class="d-flex align-items-center m-0 " th:action="@{/facility/}">
                <input class="form-control me-2 " type="search" placeholder="Input Facility :" aria-label="Search"
                       name="search">
                <button class="btn btn-outline-success chu_menu" type="submit" style="color: black">Search</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>

    <div class="row" th:if="${message}">
        <h4 th:text="${message}" style="color: red"></h4>
    </div>

    <div>
        <table class="table table-striped" style="margin-top: 50px">
            <tr>
                <th>STT</th>
                <th>Tên dịch vụ</th>
                <th>Diện tích</th>
                <th>Chi phí thuê</th>
                <th>Số người tối đa</th>
                <th>Kiểu thuê</th>
                <th>Cập nhật</th>
                <th>Xóa</th>
            </tr>
            <tr th:each="facility,status : ${facilityList}">
                <td th:text="${facilityList.number * 5 + status.count}"></td>
                <td style="color: #0c63e4" th:text="${facility.name}"></td>
                <td style="color: brown" th:text="${facility.area}"></td>
                <td th:text="${facility.cost}"></td>
                <td th:text="${facility.maxPeople}"></td>
                <td>
                    <span th:if="${facility.rentType}" th:text="${facility.rentType.name}"></span>
                </td>
                <td><a th:href="@{/facility/update/__${facility.id}__}">
                    <button class="btn btn-secondary btn-outline-warning" style="color: white"><span
                            class=" bi-pencil-square"></span>
                    </button>
                </a></td>
                <td>
                    <button th:attr="onclick=|deleteFacility('${facility.id}', '${facility.name}')|"
                            class="btn btn-danger btn-outline-secondary" data-bs-toggle="modal"
                            data-bs-target="#deleteFacility">
                        <span style="color: white" class='bi bi-trash'></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <div class="row float-end">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/facility'(page=${0},search=${search})}"
                       th:if="${facilityList.hasPrevious()}"><<
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/facility'(page=${facilityList.number - 1},search=${search})}"
                       th:if="${facilityList.hasPrevious()}"><
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/facility'(page=${facilityList.number - 1},search=${search})}"
                       th:if="${facilityList.hasPrevious()}" th:text="${facilityList.number }">

                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="color: white;background: green"
                       th:href="@{'/facility'(page=${facilityList.number },search=${search})}"
                       th:text="${facilityList.number + 1}">
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/facility'(page=${facilityList.number + 1},search=${search})}"
                       th:if="${facilityList.hasNext()}" th:text="${facilityList.number + 2}">
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/facility'(page=${facilityList.number + 1}, search=${search})}"
                       th:if="${facilityList.hasNext()}">>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" style="color: black"
                       th:href="@{'/facility'(page=${facilityList.totalPages - 1},search=${search})}"
                       th:if="${facilityList.hasNext()}">>>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <footer th:replace="~{/home::footer}"></footer>
    <div class="row" th:replace="~{/home::phone}"></div>
    <div class="row" th:replace="~{/home::gotop}"></div>
</div>
<!-- Delete Facility -->
<div class="modal fade" id="deleteFacility" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true" style="height: 100%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Bạn có chắc chắn muốn xóa dịch vụ?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/facility/delete/}">
                <div class="modal-body">
                    <span class="h6">Dịch vụ:</span>
                    <strong id="nameDelete" class="text-danger ps-2"></strong>
                    <input type="hidden" name="id" id="idDelete" readonly/>
                </div>

                <div class="modal-footer">
                    <button th:href="@{/facility}" t type="submit" class="btn btn-secondary" data-bs-dismiss="modal">
                        Đóng
                    </button>
                    <button type="submit" class="btn btn-danger" value="delete">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    function deleteFacility(id, name) {
        $("#idDelete").val(id);
        document.getElementById("nameDelete").innerText = name;
    }
</script>
</html>