<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8">
<head th:replace="/navbar :: head">

</head>
<body>

<div class="container-fluid">

    <div class="row">
        <img src="../header.png">
    </div>

    <div class="row" th:replace="/navbar :: navBar" style="position: fixed"></div>
    <div class="row">
        <h1 style="color: crimson;text-align: center;font-size: 40px;margin-top: 5px">Facility Management</h1>
    </div>

    <div class="row" style="margin-top: 70px">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form class="d-flex align-items-center m-0 " th:action="@{/facility/}">
                <input class="form-control me-2 " type="search" placeholder="Input Facility :" aria-label="Search" name="search">
                <button class="btn btn-outline-success chu_menu" type="submit" style="color: black">Search</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>

    <div class="row" th:if="${message}">
        <h4 th:text="${message}" style="color: red"></h4>
    </div>
    <br>

    <div>
        <table class="table table-striped" style="margin-top: 50px">
            <tr>
                <th>STT</th>
                <th>Tên dịch vụ</th>
                <th>Diện tích</th>
                <th>Chi phí thuê</th>
                <th>Số người tối đa</th>
                <th>Kiểu thuê</th>
                <th>Cập nhật</th>
                <th>Xóa</th>
            </tr>
            <tr th:each="facility,status : ${facilityList}">
                <td th:text="${facilityList.number * 3 + status.count}"></td>
                <td style="color: #0c63e4" th:text="${facility.name}"></td>
                <td style="color: brown" th:text="${facility.area}"></td>
                <td th:text="${facility.cost}"></td>
                <td th:text="${facility.maxPeople}"></td>
                <td th:text="${facility.rentType.name}"></td>
                <td><a th:href="@{/facility/update/__${facility.id}__}">
                    <button class="btn btn-primary"><span class="bi bi-pencil-square"></span></button>
                </a></td>
                <td><a th:href="@{/facility/delete/__${facility.id}__}">
                    <button class="btn btn-danger">
                        <span style="color: white" class='bi bi-trash'></span>
                    </button>
                </a></td>
            </tr>
        </table>
    </div>

    <div style="text-align: center">
        <a th:href="@{'/facility'(page=${facilityList.number - 1}, search=${search})}" th:if="${facilityList.hasPrevious()}">Previous</a>
        <span th:text="${facilityList.number + 1}"></span> / <span th:text="${facilityList.totalPages}"></span>
        <a th:href="@{'/facility'(page=${facilityList.number + 1}, search=${search})}" th:if="${facilityList.hasNext()}">Next</a>
    </div>
    <div class="row">
        <img src="../footter0.jpg" style="width: 100%;height: auto"/>
    </div>
</div>

</body>
</html>